<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="30001">
    <setting label="30014" type="bool" id="alarm1" default="false"/>
    <setting label="30010" type="enum" id="hour1" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23" default="07" enable="!eq(-1,false)" />
    <setting label="30011" type="enum" id="minute1" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59" enable="eq(-2,true)" />
    <setting label="30012" type="enum" id="day1" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028" default="7" enable="eq(-3,true)" />
    <setting label="30015" type="enum" id="action1" lvalues="30016|30017" default="1" enable="eq(-4,true)" />
    <setting label="30013" type="file" id="file1" visible="eq(-1,0)" enable="eq(-5,true)" />
    <setting label="30013" type="text" id="text1" default="http://www.radio.ch/media/stream/radiozuerisee128k.m3u" visible="eq(-2,1)" enable="eq(-6,true)" />
    <setting label="30009" type="slider" id="volume1" default="30" range="0, 5, 100" option="percent" enable="eq(-7,true)" />
    <setting label="30018" type="bool" id="turnOff1" default="false" enable="eq(-8,true)" />
    <setting label="30019" type="slider" id="duration1" default="30" range="5, 5, 120" option="int" enable="eq(-1,true)" />
  </category>
  <category label="30002">
    <setting label="30014" type="bool" id="alarm2" default="false"/>
    <setting label="30010" type="enum" id="hour2" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23" default="07" enable="eq(-1,true)" />
    <setting label="30011" type="enum" id="minute2" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59" enable="eq(-2,true)" />
    <setting label="30012" type="enum" id="day2" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028" default="7" enable="eq(-3,true)" />
    <setting label="30015" type="enum" id="action2" lvalues="30016|30017" default="1" enable="eq(-4,true)" />
    <setting label="30013" type="file" id="file2" visible="eq(-1,0)" enable="eq(-5,true)" />
    <setting label="30013" type="text" id="text2" default="http://www.radio.ch/media/stream/radiozuerisee128k.m3u" visible="eq(-2,1)" enable="eq(-6,true)" />
    <setting label="30009" type="slider" id="volume2" default="30" range="0, 5, 100" option="percent" enable="eq(-7,true)" />
    <setting label="30018" type="bool" id="turnOff2" default="false" enable="eq(-8,true)" />
    <setting label="30019" type="slider" id="duration2" default="30" range="5, 5, 120" option="int" enable="eq(-1,true)" />
  </category>
  <category label="30003">
    <setting label="30014" type="bool" id="alarm3" default="false"/>
    <setting label="30010" type="enum" id="hour3" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23" default="07" enable="eq(-1,true)" />
    <setting label="30011" type="enum" id="minute3" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59" enable="eq(-2,true)" />
    <setting label="30012" type="enum" id="day3" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028" default="7" enable="eq(-3,true)" />
    <setting label="30015" type="enum" id="action3" lvalues="30016|30017" default="1" enable="eq(-4,true)" />
    <setting label="30013" type="file" id="file3" visible="eq(-1,0)" enable="eq(-5,true)" />
    <setting label="30013" type="text" id="text3" default="http://www.radio.ch/media/stream/radiozuerisee128k.m3u" visible="eq(-2,1)" enable="eq(-6,true)" />
    <setting label="30009" type="slider" id="volume3" default="30" range="0, 5, 100" option="percent" enable="eq(-7,true)" />
    <setting label="30018" type="bool" id="turnOff3" default="false" enable="eq(-8,true)" />
    <setting label="30019" type="slider" id="duration3" default="30" range="5, 5, 120" option="int" enable="eq(-1,true)" />
  </category>
  <category label="30004">
    <setting label="30014" type="bool" id="alarm4" default="false"/>
    <setting label="30010" type="enum" id="hour4" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23" default="07" enable="eq(-1,true)" />
    <setting label="30011" type="enum" id="minute4" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59" enable="eq(-2,true)" />
    <setting label="30012" type="enum" id="day4" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028" default="7" enable="eq(-3,true)" />
    <setting label="30015" type="enum" id="action4" lvalues="30016|30017" default="1" enable="eq(-4,true)" />
    <setting label="30013" type="file" id="file4" visible="eq(-1,0)" enable="eq(-5,true)" />
    <setting label="30013" type="text" id="text4" default="http://www.radio.ch/media/stream/radiozuerisee128k.m3u" visible="eq(-2,1)" enable="eq(-6,true)" />
    <setting label="30009" type="slider" id="volume4" default="30" range="0, 5, 100" option="percent" enable="eq(-7,true)" />
    <setting label="30018" type="bool" id="turnOff4" default="false" enable="eq(-8,true)" />
    <setting label="30019" type="slider" id="duration4" default="30" range="5, 5, 120" option="int" enable="eq(-1,true)" />
  </category>
  <category label="30005">
    <setting label="30014" type="bool" id="alarm5" default="false"/>
    <setting label="30010" type="enum" id="hour5" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23" default="07" enable="eq(-1,true)" />
    <setting label="30011" type="enum" id="minute5" values="00|01|02|03|04|05|06|07|08|09|10|11|12|13|14|15|16|17|18|19|20|21|22|23|24|25|26|27|28|29|30|31|32|33|34|35|36|37|38|39|40|41|42|43|44|45|46|47|48|49|50|51|52|53|54|55|56|57|58|59" enable="eq(-2,true)" />
    <setting label="30012" type="enum" id="day5" lvalues="30020|30021|30022|30023|30024|30025|30026|30027|30028" default="7" enable="eq(-3,true)" />
    <setting label="30015" type="enum" id="action5" lvalues="30016|30017" default="1" enable="eq(-4,true)" />
    <setting label="30013" type="file" id="file5" visible="eq(-1,0)" enable="eq(-5,true)" />
    <setting label="30013" type="text" id="text5" default="http://www.radio.ch/media/stream/radiozuerisee128k.m3u" visible="eq(-2,1)" enable="eq(-6,true)" />
    <setting label="30009" type="slider" id="volume5" default="30" range="0, 5, 100" option="percent" enable="eq(-7,true)" />
    <setting label="30018" type="bool" id="turnOff5" default="false" enable="eq(-8,true)" />
    <setting label="30019" type="slider" id="duration5" default="30" range="5, 5, 120" option="int" enable="eq(-1,true)" />
  </category>
</settings>


<?xml version="1.0" ?>
<settings version="1">
	<section id="script.service.alarmclock">
		<category id="general" label="30001" help="">
			<group id="1" label="">
				<setting id="alarm1" type="boolean" label="30014" help="">
          <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
        </setting>
        <setting id="hour1" type="integer" label="32010" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>23</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="minute1" type="integer" label="32011" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>59</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="Day1" type="enum" label="30012" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30020">0</option>
              <option label="30021">1</option>
              <option label="30022">2</option>
              <option label="30023">3</option>
              <option label="30024">4</option>
              <option label="30025">5</option>
              <option label="30026">6</option>
              <option label="30027">7</option>
              <option label="30028">8</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="Action1" type="enum" label="30015" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30016">0</option>
              <option label="30017">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="file1" type="path" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="text1" type="string" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="volume1" type="integer" label="30009" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>00</minimum>
            <step>8</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="tunoff1" type="boolean" label="30018" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="duration1" type="integer" label="30019" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>01</minimum>
            <step>5</step>
            <maximum>120</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>

        
  






			</group>
		</category>
		<category id="general" label="30002" help="">
			<group id="1" label="">
				<setting id="alarm2" type="boolean" label="30014" help="">
          <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
        </setting>
        <setting id="hour2" type="integer" label="32010" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>23</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="minute2" type="integer" label="32011" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>59</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="Day2" type="enum" label="30012" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30020">0</option>
              <option label="30021">1</option>
              <option label="30022">2</option>
              <option label="30023">3</option>
              <option label="30024">4</option>
              <option label="30025">5</option>
              <option label="30026">6</option>
              <option label="30027">7</option>
              <option label="30028">8</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="Action2" type="enum" label="30015" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30016">0</option>
              <option label="30017">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="file2" type="path" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="text2" type="string" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="volume2" type="integer" label="30009" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>00</minimum>
            <step>8</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="tunoff2" type="boolean" label="30018" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="duration2" type="integer" label="30019" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>01</minimum>
            <step>5</step>
            <maximum>120</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
			</group>
		</category>
		<category id="general" label="30003" help="">
			<group id="1" label="">
				<setting id="alarm3" type="boolean" label="30014" help="">
          <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
        </setting>
        <setting id="hour3" type="integer" label="32010" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>23</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="minute3" type="integer" label="32011" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>59</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="Day3" type="enum" label="30012" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30020">0</option>
              <option label="30021">1</option>
              <option label="30022">2</option>
              <option label="30023">3</option>
              <option label="30024">4</option>
              <option label="30025">5</option>
              <option label="30026">6</option>
              <option label="30027">7</option>
              <option label="30028">8</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="Action3" type="enum" label="30015" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30016">0</option>
              <option label="30017">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="file3" type="path" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="text3" type="string" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="volume3" type="integer" label="30009" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>00</minimum>
            <step>8</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="tunoff3" type="boolean" label="30018" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="duration3" type="integer" label="30019" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>01</minimum>
            <step>5</step>
            <maximum>120</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
			</group>
		</category>
		<category id="general" label="30004" help="">
			<group id="1" label="">
				<setting id="alarm4" type="boolean" label="30014" help="">
          <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
        </setting>
        <setting id="hour4" type="integer" label="32010" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>23</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="minute4" type="integer" label="32011" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>59</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="Day4" type="enum" label="30012" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30020">0</option>
              <option label="30021">1</option>
              <option label="30022">2</option>
              <option label="30023">3</option>
              <option label="30024">4</option>
              <option label="30025">5</option>
              <option label="30026">6</option>
              <option label="30027">7</option>
              <option label="30028">8</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="Action4" type="enum" label="30015" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30016">0</option>
              <option label="30017">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="file4" type="path" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="text4" type="string" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="volume4" type="integer" label="30009" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>00</minimum>
            <step>8</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="tunoff4" type="boolean" label="30018" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="duration4" type="integer" label="30019" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>01</minimum>
            <step>5</step>
            <maximum>120</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
			</group>
		</category>
		<category id="general" label="30005" help="">
			<group id="1" label="">
				<setting id="alarm5" type="boolean" label="30014" help="">
          <level>0</level>
	        <default>false</default>
	        <control type="toggle"/>
        </setting>
        <setting id="hour5" type="integer" label="32010" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>23</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="minute5" type="integer" label="32011" help="">
          <level>0</level>
          <default>07</default>
          <constraints>
            <minimum>00</minimum>
            <step>1</step>
            <maximum>59</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="Day5" type="enum" label="30012" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30020">0</option>
              <option label="30021">1</option>
              <option label="30022">2</option>
              <option label="30023">3</option>
              <option label="30024">4</option>
              <option label="30025">5</option>
              <option label="30026">6</option>
              <option label="30027">7</option>
              <option label="30028">8</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="Action5" type="enum" label="30015" help="">
          <level>0</level>
          <default>0</default>
          <constraints>
            <options>
              <option label="30016">0</option>
              <option label="30017">1</option>
            </options>
          </constraints>
          <control type="spinner" format="string"/>
        </setting>
        <setting id="file5" type="path" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <writable>false</writable>
            <allowempty>true</allowempty>
          </constraints>
          <control type="button" format="file">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="text5" type="string" label="30013" help="">
          <level>0</level>
          <default/>
          <constraints>
            <allowempty>true</allowempty>
          </constraints>
          <control type="edit" format="string">
            <heading>30013</heading>
          </control>
        </setting>
        <setting id="volume5" type="integer" label="30009" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>00</minimum>
            <step>8</step>
            <maximum>100</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
        <setting id="tunoff5" type="boolean" label="30018" help="">
          <level>0</level>
          <default>false</default>
          <control type="toggle"/>
        </setting>
        <setting id="duration5" type="integer" label="30019" help="">
          <level>0</level>
          <default>30</default>
          <constraints>
            <minimum>01</minimum>
            <step>5</step>
            <maximum>120</maximum>
          </constraints>
          <control type="slider" format="integer">
            <popup>false</popup>
          </control>
        </setting>
			</group>
		</category>
	</section>
</settings>
